h1 {
    color: red;
    margin-left: 30%;
    padding-top: 30px;
}

h3 {
    color: blue;
    margin-left: 27%;
    padding-top: 30px;
}

p {
    color: blueviolet;
    margin-left: 13%;
    padding-top: 30px;
}